---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation';
import BillingList from '../components/BillingList';
---

<Layout title="Billing - WMS Pro">
  <div class="min-h-screen bg-gray-50">
    <Navigation client:load />
    <main>
      <BillingList client:load />
    </main>
  </div>
</Layout>