---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation';
import TasksList from '../components/TasksList';
---

<Layout title="Tasks - WMS Pro">
  <div class="min-h-screen bg-gray-50">
    <Navigation client:load />
    <main>
      <TasksList client:load />
    </main>
  </div>
</Layout>