---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation';
import WarehousesList from '../components/WarehousesList';
---

<Layout title="Warehouses - WMS Pro">
  <div class="min-h-screen bg-gray-50">
    <Navigation client:load />
    <main>
      <WarehousesList client:load />
    </main>
  </div>
</Layout>